.battle-detail {
  background-color: var(--color-secundary);
  color: var(--dark-main);
  border-radius: 24px;
  position: relative;
  font-size: 1.25rem;
}

.battle-detail-container {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 24px 12px;
  gap: 30px;
}

.battle-detail-header {
  display: flex;
  flex-direction: column;
}

.battle-detail__image {
  border-radius: 24px 24px 0 0;
  height: 225px;
  width: 560px;
  object-fit: cover;
  box-shadow: 0 4px 4px 0 var(--dark-alpha-main);
}

.battle-detail__title {
  font-family: var(--font-title);
  font-weight: 900;
  font-size: 1.875rem;
}

.battle-detail__info {
  font-family: var(--font-details);
  display: flex;
  flex-direction: column;
}

.combatants-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.combatant-detail {
  font-weight: bold;
}

.battle-detail-description {
  white-space: pre-line;
}

.battle-detail-winner {
  font-size: 1.563rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.winner-detail__icon {
  align-self: center;
  box-shadow: 0 4px 4px 0 var(--dark-alpha-main);
  border-radius: 100%;
}

.battle-detail-update {
  align-self: center;
  height: 30px;
  width: 200px;
  background-color: var(--color-main);
  border-radius: 12px;
  border: 1px solid var(--dark-main);
  display: flex;
  justify-content: center;
  align-items: center;
}
