:root {
  --black-main: #111115;
  --red-main: #ad151b;
  --white-main: #fffff7;
  --yellow-main: #ffe81f;
  --yellow-secundary: #e6d64a;
  --font-dates: "Roboto Slab Variable", var(--font-main);
  --font-main: "Roboto Variable", Arial, Helvetica, sans-serif;
  --font-title: "MuseoModerno Variable", var(--font-main);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--black-main);
  color: var(--black-main);
  font-family: var(--font-main);
}

h1 {
  margin: 0;
}

image {
  max-width: 100%;
  height: auto;
}
